<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cuit.springboot.gdao.StudentMapper" >
  <resultMap id="BaseResultMap" type="com.cuit.springboot.gentry.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="user_name" jdbcType="VARCHAR" />
    <result column="class_es" property="class_es" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cuit.springboot.gentry.Student" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into student (user_name, class_es, age
      )
    values (#{user_name,jdbcType=VARCHAR}, #{class_es,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.cuit.springboot.gentry.Student" >
    update student
    set user_name = #{user_name,jdbcType=VARCHAR},
      class_es = #{class_es,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_name, class_es, age
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_name, class_es, age
    from student
  </select>
</mapper>